/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
    margin:0 ;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    list-style: none;
    scrollbar-width: auto;
}

/* *::-webkit-scrollbar {
    display: none;
} */

/* Side navigation bar styles */
body {
    display: flex;
    background-color: #5D6770;
    overflow-y: hidden;
}

/* Board form styles */
.board_container {
    width: 100%;
    height: 100vh;
    overflow-x: auto;
    white-space: nowrap;
    overflow-y: hidden;
}


/* Default modal for creating task */

.board_container .modal_background {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    position: absolute;
    top: 0;
    display: none;
    align-items: center;
    justify-content: center;
}    

.board_container .modal_background .modal_wrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    border-radius: 10px;
    overflow: hidden;
}

.board_container .modal_background .modal_container {
    width: 500px;
    /* height: 400px; */
    background-color: #FFFFFF;
    border-radius: 10px;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -275px;
    margin-left: -200px;
}

.board_container .modal_background .modal_extra_options {
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFFFFF;
    border-left: 1px solid #ccc;
    padding: 5px;
    border-radius: 0 10px 10px 0;
}


.board_container .modal_background .modal_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    padding-right: 20px;
    padding-left: 10px;
}

.board_container .modal_background .modal_header .modal_header_content input[type="text"] {
    display: block;
    width: 100%;
    padding: 10px;
    outline: none;
    border: none;
    font-size: 25px;
}

/* Drop down inside modal datails */

.board_container .modal_background .modal_header .dropdown {
    position: relative;
    display: inline-block;

}

.board_container .modal_background .modal_header .dropdown .fas{
    cursor: pointer;
}

.dropdown_options {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-radius: 4px;
    z-index: 1;
}

.dropdown_options a {
    color: black;
    padding: 12px 44px;
    text-decoration: none;
}

.dropdown_options a:hover {
    background-color: #ddd;
}

.dropdown_options a i {
    margin-top: 4px;
}


.board_container .modal_background .modal_container .modal_form_element {
    margin: 15px 0;
    padding: 0 15px;
}

.board_container .modal_background .modal_container .modal_form_element textarea {
    width: 100%;
    max-width: 100%;
    height: 150px;
    min-height: 100px;
    overflow-y: auto;
    resize: none;
    border: 1px solid #cccccc;
    border-radius: 4px;
    padding: 10px;
    box-sizing: border-box;
}

.board_container .modal_background .modal_container .modal_form_element date_label {
    width: 100%;
    padding: 10px;
    outline: none;
    border: none;
    font-size: 20px;
}

.board_container .modal_background .modal_container .modal_form_element input[type="date"] {
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    outline: none;
    height: 40px;
}

.board_container .modal_background .modal_container .modal_form_element button{
    /* position: absolute; */
    /* bottom: 38px; */
    /* right: 30px; */
    width: 75px;
    height: 42px;
    border-radius: 25px;
    outline: none;
    background: #7286A0;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
}

.drag_modal_container {
	bottom: 0;
	width: 85%;
	height: 20%;
	position: fixed;
	background-color: rgba(0,0,0,0.3);
	justify-content: center;
	display: flex;
	align-items: center;
	pointer-events: none;
	display: none;
}

.trash_icon {
	font-size: 3rem;
	cursor: pointer;
	color: red;
}

.board_container #modal_button_lane {
    display: block;
    height: 100px;
    padding: 50px 50px;
    color: #FFFFFF;
    font-size: 22px;
    cursor: pointer;
    width:230px;
}

.board_container #modal_button_lane .fas {
    width: 30px;
}

.modal_button {
	cursor: pointer;
}

/* Board lanes styles */
.lane_wrapper {
    display: flex;
    gap: 16px;
    padding: 35px 50px;
    align-items: flex-start;
    justify-content: start;
    height: 100%;
}

.lane_wrapper .lane {
    background: #F4F4F4;
    box-shadow: 0px 5px 15px rgba(0,0,0,0.25);
    padding: 16px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    flex-shrink: 0;
    min-height: 120px;
    width: 275px;
    cursor: move; /* fallback if grab cursor is unsupported */
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
}

.lane_wrapper .lane:active {
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}

/*
.lane_wrapper .lane .lane_heading {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 8px;
}
*/

.lane_wrapper .lane .lane_heading[contenteditable="true"] {
    border: 1px dashed #ccc; /* Optional: to indicate it's editable */
    padding: 5px;
    cursor: text;
    white-space: nowrap; /* Prevent line breaks */
    overflow: hidden;    /* Hide overflowed content */
    text-overflow: ellipsis; /* Show ellipsis for overflowed content */
}

.lane_wrapper .lane .task {
    background: white;
    color: black;
    box-shadow: 0px 5px 15px rgba(0,0,0,0.25);
    padding: 12px;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

.lane_wrapper .lane.is_dragging_lane, .lane_wrapper .lane .task.is_dragging {
    scale: 1.05;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
    background: #7286A0;
    color: white;
}
